{% extends 'base.html.twig' %}

{% block title %}Nouvelle tâche{% endblock %}

{% block body %}
    <h1>Créer une tâche</h1>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}

        <button type="submit">Créer</button>
    {{ form_end(form) }}

    <p>
        <a href="{{ path('app_task_index') }}">Retour à la liste</a>
    </p>
{% endblock %}
